<!-- Label tree node -->
<style>
  .node-name.selected, .note-list-item.selected {
    font-weight: bold;
    font-style: italic;    
  }
  .node-name + ul {
    display: none;
  }
  .node-name.expanded + ul {
    display: block;
  }
  #labels-view-controls, #notes-view-controls {
    font-size: 10px;
  }

  #tree-view-lhs {
    padding:10px;
    border-right: solid 1px #eee;
    width:300px;
    display:inline-block;
  }
  #tree-view-lhs ul {
    padding-left: 10px    
  }

  #notes-view-middle {
    padding:10px;
    border-right: solid 1px #eee;
    width:150px;    
    min-width: 150px;
    display:inline-block;
    vertical-align: top;
    position: relative;
  }
  #notes-view-middle ul {
    padding:0;
    list-style: none;
  }
  #note-content-editor {
    padding:10px;
    display:inline-block;
    vertical-align: top;    
  }
  #note-content-editor ul {
    padding-left:5px;
    padding-right:10px;
    list-style: none;
    
  }
  #note-content-editor ul li {
    display: inline-block;
  }

  #labels-view-controls, #notes-view-controls {
    bottom: 30px;
    position: absolute;
    left: 10px;
  }
  #notes-view-controls {
    left: 330px;
  }

  .note-label {    
    background-color: #006dcc;
    background-image: -moz-linear-gradient(center top , #08c, #04c);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-right:5px;
    padding: 4px 14px;
    text-align: center;
    vertical-align: middle;    
  }

  .note-label span {
    cursor: pointer;
  }



</style>

<!-- render notes tree view -->

<script type="text/ng-template"  id="tree_item_renderer.html">
  <div>
    <div class="node-name" ng-click="TreeView.select(data)" ng-class="{selected: data == TreeView.Selected.Node}">
      {{data.name}}      
    </div>
    <ul>      
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>    
	</div>    
</script>

<!-- nodes list view -->

<script type="text/ng-template"  id="notes_item_renderer.html">
  <div class="note-list-item" ng-click="NotesView.select(data)" ng-class="{selected: data == NotesView.Selected}">
    {{data.name}}      
  </div>
</script>

<!-- notes label list view -->

<script type="text/ng-template"  id="notes_label_renderer.html">
  <div class="note-label">
    {{label}}&nbsp;<span ng-click="NotesView.removeLabel(label)" ng-show="NotesView.Selected.labels.length &gt; 1" class="glyphicon glyphicon-minus-sign"></span>
  </div> 
</script>

<!-- main page -->

<div id="row">

  <!-- labels list (lhs) -->

  <div id="tree-view-lhs">
    <h4>
        Labels:&nbsp;<span ng-show="TreeView.Selected.Node != null" ng-click="TreeView.create()" class="glyphicon glyphicon-plus-sign"></span> 
    </h4>
    <!-- show the nodes -->    
  	<ul>   
  	    <li ng-repeat="data in TreeView.Store" ng-include="'tree_item_renderer.html'"></li>
  	</ul>
    <!-- edit label controls -->
    <div id="labels-view-controls" ng-show="TreeView.Selected.Node != null">
        <input type="text" ng-model="TreeView.Selected.Node.name">
        <button ng-click="TreeView.update()">Update</button> 
        <button ng-click="TreeView.delete()" ng-show="TreeView.Selected.Node.nodes.length == 0 && NotesView.Store.length == 0">Delete</button> 
<!--
        <button ng-click="labels.erase()">Erase</button> 
        <button ng-click="TreeView.Selected.Node = null">Unselect</button> 
        <input type="text" ng-model="newTreeLabel.name">
        <button ng-click="TreeView.create()">Create</button>         
-->        
    </div>
    <span>&nbsp;</span>         
    <!-- edit note controls -->
    <div id="notes-view-controls" ng-show="NotesView.Selected != null">        
<!--        
        <button ng-click="NotesView.create()">Create Note</button> 
-->        
        <input type="text" ng-model="NotesView.Selected.name">
        <button ng-click="NotesView.update()">Update Note</button> 
        <button ng-click="NotesView.delete()">Delete</button> 
        <button ng-click="NotesView.addLabel()">Add label</button> 
    </div>      
  </div>

  <!-- notes list (middle) -->

  <div id="notes-view-middle">
    <h4>
        Notes&nbsp;<span ng-show="TreeView.Selected.Node != null" ng-click="NotesView.create()" class="glyphicon glyphicon-plus-sign"></span>
    </h4>
    <ul>
      <li ng-repeat="data in NotesView.Store" ng-include="'notes_item_renderer.html'"></li>
    </ul>
  </div>

  <!-- note content (rhs) -->

  <div id="note-content-editor">
    <ul>
      <li ng-repeat="label in NotesView.Selected.labels" ng-include="'notes_label_renderer.html'"></li>
    </ul>    
    <div class="note-content readwrite" contenteditable="true">
      {{NotesView.Selected.content}}
    </div>
  </div>  




</div>




